html {
  --font-primary: 'Oswald', var(--font-safe);
  --font-secondary: 'Roboto', var(--font-safe);
  --font-safe: Helvetica, Arial, sans-serif;

  --length-0-125: calc(var(--length-1) * 0.125);
  --length-0-25: calc(var(--length-1) * 0.25);
  --length-0-5: calc(var(--length-1) * 0.5);
  --length-0-625: calc(var(--length-1) * 0.625);
  --length-0-875: calc(var(--length-1) * 0.875);
  --length-1: 1rem;
  --length-1-125: calc(var(--length-1) * 1.125);
  --length-1-25: calc(var(--length-1) * 1.25);
  --length-1-375: calc(var(--length-1) * 1.375);
  --length-1-5: calc(var(--length-1) * 1.5);
  --length-3-5: calc(var(--length-1) * 3.5);
  --length-7: calc(var(--length-1) * 7);
  --length-30: calc(var(--length-1) * 30);
  --length-40: calc(var(--length-1) * 40);
  --length-50: calc(var(--length-1) * 50);

  --white: #FFFFFF;
  --iron: #CDD1D6;
  --royal-blue: #3474DA;
  --azure-blue: #2C5EAD;
  --whale-blue: #06284C;
  --dark: #00000029;
  --downriver-blue: #0A2240;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Elements */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  display: block;
  color: inherit;
}

img {
  display: block;
}

img:not(.social-icon) {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* General states */
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 var(--length-0-125) var(--white);
}

@media screen and (-ms-high-contrast: active) {
  :focus {
    border: var(--length-0-125) solid currentcolor;
  }
}

/* Utilities */
.stack > * + * {
  margin-top: var(--length-1-5);
  margin-bottom: 0;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.hide-visually:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

/* body */
.page-template-archive-gpalab-social-link,
.gpalab-social-link-template-default {
  min-height: 100vh;
  color: var(--white);
  font-family: var(--font-primary);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--downriver-blue) !important;
}

.skip-to-content {
  position: absolute;
  top: var(--length-0-625);
  left: var(--length-0-625);
  z-index: 100000; /* display above admin toolbar, if present */
  border: var(--length-0-125) solid var(--whale-blue);
  padding: var(--length-0-875);
  color: var(--whale-blue);
  font-family: var(--font-secondary);
  font-size: var(--length-0-875);
  transform: translateY(-125%);
  transition: transform 150ms linear;
  background-color: var(--white);
}

.skip-to-content:focus {
  transform: translateY(0%);
}

#gpalab-slo-main-content > .stack > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--length-40);
}

/* Header */
.content-header {
  padding-top: var(--length-3-5);
  text-align: center;
}

.identity-logo {
  margin-left: auto;
  margin-right: auto;
  height: var(--length-7);
  width: var(--length-7);
}

.identity-logo > img {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.gpalab-slo-page-title {
  font-family: var(--font-primary);
  font-size: var(--length-1-5);
  font-weight: 700;
}

.mission-website {
  font-family: var(--font-primary);
  font-size: var(--length-1-375);
  font-weight: 400;
}

.mission-website > a {
  display: initial;
  padding-left: var(--length-0-25);
  padding-right: var(--length-0-25);
}

/* Social accounts */
.gpalab-slo-social-accts-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpalab-slo-social-accts-list > li > a {
  padding: var(--length-0-625);
}

.instructions {
  font-family: var(--font-secondary);
  font-size: var(--length-1);
  text-align: center;
}

/* Grid view */
.gpalab-slo-content-list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--length-0-25);
  padding-left: var(--length-0-875);
  padding-right: var(--length-0-875);
}

@media (min-width: 736px) {
  .gpalab-slo-content-list.grid {
    gap: var(--length-1);
    padding-left: 0;
    padding-right: 0;
  }
}

.gpalab-slo-content-list.grid > li {
  position: relative;
  padding-bottom: 100%;
}

.gpalab-slo-content-list.grid > li a,
.gpalab-slo-content-list.grid > li img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.gpalab-slo-content-list.grid > li img {
  object-fit: cover;
}

/* List view */
.gpalab-slo-content-list.list {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--length-0-875);
  padding-right: var(--length-0-875);
  max-width: var(--length-30);
}

@media (min-width: 540px) {
  .gpalab-slo-content-list.list {
    padding-left: 0;
    padding-right: 0;
  }
}

.gpalab-slo-content-list.list > li {
  margin-top: var(--length-1-5);
  margin-bottom: 0;
}

.gpalab-slo-content-list.list > li .title {
  font-family: var(--font-safe);
  font-size: var(--length-1-25);
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.gpalab-slo-content-list.list > li .title a {
  border-radius: var(--length-1);
  padding: var(--length-1-5);
  text-decoration: none;
  background: var(--royal-blue) 0% 0% no-repeat;
  box-shadow: 0 var(--length-0-25) var(--length-0-625) var(--dark);
  transition: background 150ms linear;
}

.gpalab-slo-content-list.list > li .title :hover,
.gpalab-slo-content-list.list > li .title :focus,
.gpalab-slo-content-list.list > li .title :active {
  background-color: var(--azure-blue);
}

.gpalab-slo-content-list.list > li .title :focus {
  box-shadow: 0 0 0 var(--length-0-125) var(--white);
}

/* Load more */
.load-more-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--length-0-25);
  margin-top: var(--length-3-5);
}

.load-more-container > #load-more {
  grid-column: 2;
  border: var(--length-0-125) solid transparent;
  border-radius: var(--length-0-625);
  padding: var(--length-0-875);
  color: var(--iron);
  font-family: var(--font-safe);
  font-size: var(--length-1-125);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--whale-blue);
  box-shadow: 0px var(--length-0-25) var(--length-0-5) var(--dark);
  cursor: pointer;
  transition: background-color 150ms linear, color 150ms linear;
}

.load-more-container > #load-more:hover,
.load-more-container > #load-more:focus {
  color: var(--white);
  text-decoration: underline;
}

.load-more-container > #load-more:focus {
  box-shadow: 0 0 0 var(--length-0-125) var(--white);
}

/* Loaded items */
.gpalab-slo-content-list > li.new-item {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */
#gpalab-slo-site-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: var(--length-1-5);
  box-sizing: content-box;
  max-width: var(--length-50);
  margin-left: auto;
  margin-right: auto;
  padding: var(--length-1-125);
}

main.list + #gpalab-slo-site-footer {
  max-width: var(--length-40);
}

#gpalab-slo-site-footer > .back-to-top {
  display: grid;
  place-content: center;
  width: var(--length-3-5);
  height: var(--length-3-5);
  margin-left: auto;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

#gpalab-slo-site-footer > .back-to-top.is-visible {
  opacity: 1;
}

#gpalab-slo-site-footer > .back-to-top > img {
  height: auto;
  width: auto;
}

/* admin Edit link */
.section-inner .post-edit.meta-wrapper {
  display: flex;
  align-items: center;
  gap: var(--length-0-625);
  font-family: var(--font-secondary);
}

.section-inner .post-edit.meta-wrapper .svg-icon {
  fill: var(--white);
}

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../assets/fonts/oswald-v35-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/oswald-v35-latin-regular.woff') format('woff'),
    url('../assets/fonts/oswald-v35-latin-regular.ttf') format('truetype');
}

/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../assets/fonts/oswald-v35-latin-700.woff2') format('woff2'),
    url('../assets/fonts/oswald-v35-latin-700.woff') format('woff'),
    url('../assets/fonts/oswald-v35-latin-700.ttf') format('truetype');
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../assets/fonts/roboto-v20-latin-300.woff2') format('woff2'),
    url('../assets/fonts/roboto-v20-latin-300.woff') format('woff'),
    url('../assets/fonts/roboto-v20-latin-300.ttf') format('truetype');
}
