.gpalab-slo-hr {
  margin: 0.5rem auto 1rem;
  width: 95%;
}

.gpalab-slo-tab {
  background-color: #f1f1f1;
  border: 1px solid #ccd0d4;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 2px;
}

.gpalab-slo-tab-container {
  display: flex;
  margin: 1rem 0 0;
}

.gpalab-slo-settings-form-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0.5rem 1.5rem;
}

.gpalab-slo-settings-form-controls p.submit {
  margin: 0;
  padding: 0;
}

.gpalab-slo-tab-container > li:first-of-type {
  margin-left: 0.5rem;
}

.gpalab-slo-tab-button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccd0d4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.gpalab-slo-type-toggle {
  display: flex;
  flex-direction: column;
}

.gpalab-slo-type-toggle > label {
  margin: 0.2em 0;
}

.gpalab-slo-tab-button[aria-selected] {
  background-color: #ffffff;
  border-bottom-color: transparent;
}

.gpalab-slo-tabpanel {
  background-color: #ffffff;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  display: none;
  flex-direction: column;
  margin: -1px 0 1rem;
  padding: 1rem;
}

.gpalab-slo-tabpanel-text {
  text-align: center;
}

.gpalab-slo-label {
  align-items: center;
  display: grid;
  grid-template-columns: 25% 1fr;
  margin: 0.5rem 1rem;
}

.gpalab-slo-label-secondary {
  align-items: center;
  display: grid;
  grid-template-columns: 150px 1fr;
  margin: 0.5rem 1rem;
}

.gpalab-slo-danger {
  color: #a00a00;
  text-align: center;
}

.gpalab-slo-avatar-preview {
  height: 90px;
  width: auto;
}

.gpalab-slo-avatar-placeholder {
  background-color: #f1f1f1;
  border-radius: 3px;
  margin: 0;
  padding: 5.5px 1rem;
}

.gpalab-slo-settings-avatar-controls {
  align-items: center;
  display: flex;
  margin: 1rem 0 1.5rem;
}

button.gpalab-slo-avatar-remove.button-secondary,
input.gpalab-slo-avatar-media-manager.button-secondary {
  margin-left: 1.5rem;
}

button.button.button-link-delete.slo-remove-mission {
  border-color: #a00a00;
  align-self: flex-start;
  margin: 1rem 1rem 0.5rem;
}

button.button.button-secondary.slo-permalink {
  margin-left: 2rem;
}

.gpalab-slo-theme-toggle > [for^="theme_0_mwp_"] {
  vertical-align: top;
}

.gpalab-slo-theme-toggle  > [for^="theme_0_mwp_"]:first-child {
  margin-right: 1rem;
}
